body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

#home-outer-div{
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#all-contacts{
    background-image: url("../Images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    /* background-color: rgb(48, 46, 46); */

    border: 1px solid blue;
}

/* #all-contacts-navbar{ */
.navbars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(21 13 44 / 79%);

    border: 1px solid green;
}

#all-contacts-navbar a{
    font-size: 200%;
    color: white;
}

#search-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;

    border: 1px solid brown;
}

#search-bar{
    /* display: flex;
    flex-direction: row; */
    color: white;
    height: 50%;
    width: 75%;
    background-color: #4b19419e;
    border-radius: 10px;
}

#search-btn{
    /* display: flex;
    flex-direction: row; */
    height: 50%;
    width: 15%;
    background-color: rgb(3 3 3 / 24%);
    color: white;

    /* border: 1px solid brown; */
}


#all-contacts-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90%;
    width: 100%;

    border: 1px solid yellow;
}
::-webkit-scrollbar{
    display: none;
}

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
    background-color: #220511a8;

    border: 1px solid violet;
}

.contact-container:hover{
    background-color: #7e5b6a9e;
}

.contact-dp{
    /* display: flex;
    flex-direction: row; */
    height: 95%;
    width: 30%;

    border: 1px solid purple;
}

.contact-body{
    /* display: flex;
    flex-direction: row; */
    height: 90%;
    width: 65%;
    color: white;

    border: 1px solid maroon;
}

#chating-space{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 100%;
    width: 70%;

    border: 1px solid orange;
}

#chat-messages{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;

    border: 1px solid black;
}

#message-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;

    border: 1px solid pink;
}

#message-bar{
    height: 70%;
    width: 75%;
    background-color: rgb(67, 64, 64);
}

#send-btn{
    height: 70%;
    width: 15%;
    background-color: rgb(67, 64, 64);
}