body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

#home-outer-div{
    background-image: url("../Images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#all-contacts{
    /* background-image: url("../Images/bg1.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    /* background-color: rgb(48, 46, 46); */

    /* border: 1px solid blue; */
}

/* #all-contacts-navbar{ */
.navbars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(55 56 57 / 84%);

    /* border: 1px solid green; */
}

#all-contacts-navbar a{
    font-size: 200%;
    color: white;
}

#user-bar{
    display: flex;
    flex-direction: row;
    background-color: rgb(255 255 255 / 22%);
    /* border: 1px solid green; */
    width: 100%;
    height: 5%;
}

#user-bar a{
    font-size: 100%;
    color: white;
}

#search-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;

    /* border: 1px solid brown; */
}

#search-bar{
    /* display: flex;
    flex-direction: row; */
    color: white;
    height: 50%;
    width: 75%;
    background-color: #3f3d3e9e;
    border-radius: 10px;
}

#search-bar:hover{
    background-color: #2c2b2b9e;
}

#search-btn{
    /* display: flex;
    flex-direction: row; */
    height: 50%;
    width: 15%;
    background-color: rgb(143 142 142 / 31%);
    color: white;

    /* border: 1px solid brown; */
}

#search-btn:hover{
    background-color: rgba(95, 94, 94, 0.31);
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}

#all-contacts-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85%;
    width: 100%;

    /* MAKE ITS CHILDRENS' HEIGHT AS AUTO TO MAKE IT SCROLL */

    /* border: 1px solid yellow; */
}

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    background-color: #6b6b6b4f;
    margin-bottom: 2px;

    border-bottom: 1px solid gray;
    /* border-top: 1px solid gray; */
}

.contact-container:hover{
    background-color: #6360619c;
}

.contact-dp{
    /* display: flex;
    flex-direction: row; */
    height: 95%;
    width: 30%;

    border: 1px solid gray;
}

.contact-body{
    /* display: flex;
    flex-direction: row; */
    height: 60px;
    width: 65%;
    color: white;
    padding-left: 4px;
    padding-top: 1px;

    /* border: 1px solid maroon; */
}

#chating-space{
    /* background-image: url("../Images/bg2.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    height: 100%;
    width: 70%;

    /* border: 1px solid orange; */
}

#chating-space-navbar-heading{
    color: white;
    margin: 0px;
}
#back-btn-div{
    display: none;
}

#chat-messages{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    


    /* border: 1px solid black; */
}

.message-cell{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: auto;
}

.message-body{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: auto;
    width: auto;
    max-width: 70%;
    min-width: 20%;
    margin: 1% 2%;
    background-color: #dbd3d92b;
    border-radius: 20px;
}

.sender-name, .message-time{
    display:flex;
    color: white;
    height: auto;
    width: auto;
    font-size: 70%;
    padding: 2px 10px;
    /* padding: 2% 5%; */
}

.message{
    display: flex;
    height: auto;
    width: auto;
    padding: 0px 10px;
    font-size: 140%;
    color: white;
}

#writing-message-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;

    /* border: 1px solid pink; */
}

#message-bar{
    height: 70%;
    width: 75%;
    background-color: #000000b3;
    color: white;
    border-radius: 10px;
    font-size: 130%;
}

#send-btn{
    height: 70%;
    width: 15%;
    color: white;
    background-color: #1c1b1cb5;
    border-radius: 10px;
    font-size: 200%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#send-btn:hover{
    background-color: #353435b5;
    cursor: pointer;
}

/* RESPONSIVE CSS ---------------------------------- */

@media screen and (max-width:530px){
    #all-contacts{
        width: 100%;
    }
    #chating-space{
        display: none;
        width: 100%;
    }
    #chating-space-navbar-heading-div{
        width: 85%;
        display: flex;
        justify-content: center;
    }
    #back-btn-div{
        display: flex;
        width: 15%;
        justify-content: center;
    }
    #back-btn{
        color: white;
        background-color: #24242500;
        border: 0px;
        font-size: 15px;
    }
    #back-btn:hover{
        background-color: #3a3a3b8a;
        cursor: pointer;
    }
}