#info-div{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h3{
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: lightsteelblue;
    padding: 0px 10px;
}
p{
    /* color: white; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px 15px;
    text-align: justify;
}
a{
    color: #d39dfb;
    padding: 0px 15px;
}