/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */

#app-section{
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.form-container .form-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}
.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.form-container .switch {
    text-align: center;
    margin-top: 10px;
}
.form-container .switch a {
    color: #007bff;
    text-decoration: none;
}

.warnings{
    display: none;
    height: auto;
    width: auto;
    color: red;
    font-size: small;
}

@media screen and (max-width:530px){
    .form-container{
        width: 80%;
    }
}